<% include partials/header %>

<div class="container">
	<h1><%= destination.name %></h1>
	<img src="<%= destination.image %>">
	<p><%= destination.description %></p>
	<a href="/destinations/<%= destination._id %>/booking">Book now for $<%=  destination.price %></a>

</div>

<% include partials/footer %>